@import './styles/reset';
@import './styles/constants';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

html {
  font-size: 5px;
  @media (min-width: $xs) {
    font-size: 7px;
  }
  @media (min-width: $md) {
    font-size: 10px;
  }
}
body {
  margin: 0;
  font-size: 1.8rem;
  font-family: 'Inter', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bg-color;
}

.title {
  font-size: 3.2rem;
  text-align: center;
  margin: 2rem;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  display: flex;
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 3rem;
  max-width: calc($xxl - 6rem);
}

.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: fit-content;
  margin: 2rem auto;
  background: #ffffff;
  padding: 0.8rem;
  border-radius: 50rem;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
}

.page-item {
  color: $primary-color;
  list-style: none;
  line-height: 4.5rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.page-link {
  padding: 0 2rem;
}

.page-active {
  color: #ffffff;
  background: $primary-color;
}

.page-disabled {
  color: grey;
  pointer-events: none;
}
.message {
  position: relative;
  grid-column: 1 / -1;
  text-align: center;
  height: 1.8rem;
}


@media (hover: hover) {
  .page-item:hover {
    color: #ffffff;
    background: $primary-color;
  }
}
